@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}

hr {
  background: none !important;
  width: 15% !important;
  margin: 20px auto !important;
  border: none;
	border-top: 1px solid rgba(255, 255, 255, 0.14) !important;
}


.ajl-avatar {
  border: 3px solid #fff;
  border-radius:100%;
}

.blog__wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
}


.front-panel__container {
  min-height: 100vh !important;
  overflow: hidden;
}

.blog__container {
  margin: 3rem 5rem;
}



.blog-social {
  margin: 0 auto !important;
}

.post-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: left; }
	.post-list li {
		margin: 0 0 2.2em 0; }
		.post-list li:last-child hr {
			display: none; }

.post-list__post-title {
	margin-top: 0;
	margin-bottom: .2em;
	font-size: 1.5em;
  line-height: 1.3em;
}

.post-list__post-title a {
  color: #333333;
}

.post-list__post-title a:hover {
  color: #b9301c;
}

.post-list__meta {
	display: block;
	margin: .7em 0 0 0;
	font-size: .9em;
  color: #c7c7c7;
}

.post-list__meta--date {
	margin-right: .5em;
  color: #c7c7c7;
}

.post-list__meta--tags {
  margin-left: .5em;
}

.post-list__divider {
	width: 30%;
	margin: 2.2em 0 2.1em 0;
  border-top: 1px solid #dddddd;
}
