@tailwind base;
@tailwind components;
@tailwind utilities;

@responsive {
  .text-shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }

  .text-shadow-md {
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.32), 0 2px 4px rgba(0, 0, 0, 0.08);
  }

  .text-shadow-lg {
    text-shadow: 0 15px 30px rgba(0, 0, 0, 0.51), 0 5px 15px rgba(0, 0, 0, 0.8);
  }

  .text-shadow-none {
    text-shadow: none;
  }
}

:focus {
  outline: 0;
}

body {
  font-family: "Raleway", sans-serif;
  color: #666666;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  margin-top: 0.8em;
  margin-bottom: 0.4em;
  font-family: "Roboto Slab", serif;
  font-weight: lighter;
  color: #333333;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

.post-list-meta {
  display: block;
  margin: 0.7em 0 0 0;
  color: #c7c7c7;
}

.post-list-meta time {
  margin-right: 0.5rem;
}

.post-list-meta span {
  padding: 0 5px;
}

.post-list-meta a {
  color: #e25440;
}
.post-list-meta a:hover {
  color: #b9301c;
}

.post-list-divider {
  width: 30%;
  margin: 2.2em 0 2.1em 0;
  border-top: 1px solid #dddddd;
}

.socials button {
  margin: 0.5rem;
}
